@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@layer utilities {
    /* Get a Quote Css */
    .gaq-title {
        @apply text-xl md:text-2xl lg:text-3xl text-white;
    }

    .gaq-select {
        @apply mt-5 w-auto block w-full pl-3 pr-10 py-4 text-base border-0 focus:outline-none focus:ring-transparent text-lg md:text-xl text-orange rounded-full text-center;
    }

    .gaq-button {
        @apply text-lg md:text-xl uppercase block p-3 text-center text-orange hover:text-white bg-white hover:bg-transparent border-2 border-white rounded-full mt-5;
    }
    /* End of Get a Quote Css */

    /* Start of Product Css */
    .product-wrapper {
        @apply grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 py-4;
    }

    .product-container {
        @apply col-span-1 flex flex-col text-center bg-white rounded-lg divide-y divide-gray-200;
        box-shadow: 2px 2px 2px #00000029;
    }

    .product-content {
        @apply flex-1 flex flex-col p-8;
    }

    .product-img {
        @apply w-32 h-32 flex-shrink-0 mx-auto;
    }

    .product-name {
        @apply mt-4 text-gray-900 text-2xl font-medium;
    }

    .product-title {
        @apply flex-grow flex flex-col justify-between space-y-6;
    }
    /* End of Product Css */

    /* Start of Featuresl Css */
    .features-container {
        @apply relative bg-white pb-20 pt-12;
    }

    .features-content {
        @apply mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8;
    }

    .features-title {
        @apply mt-2 text-3xl font-medium text-gray-900 tracking-tight sm:text-4xl;
    }

    .features-text-content {
        @apply mt-5 mx-auto text-xl text-gray-500;
    }
    /* End of Features Css  */

    /* Start 0f Testimonial Css */
    .testimonial-container {
        @apply lg:z-10 lg:relative;
        background-color: #FFE1A7;
    }

    .testimonial-content {
        @apply mx-auto w-full lg:max-w-7xl justify-center flex;
    }

    .hidden-absolute-white {
        @apply absolute inset-x-0 w-full top-0 h-1/2 bg-white lg:hidden;
    }

    .bg-orange-300 {
        background-color: #E8B95F;
    }

    .testimonial-image {
        @apply lg:h-full lg:w-full flex-shrink-0 mx-auto;
    }

    .white-bg-container {
        @apply relative pb-32 bg-white justify-center grid;
    }

    .white-bg-content {
        @apply relative max-w-7xl mx-auto pb-24 px-4 pt-4 lg:pb-32 sm:px-6 lg:px-8;
    }

    .white-bg-txt {
        @apply mt-6 max-w-3xl text-xl text-gray-900 text-center;
    }

    .overlap-card-section {
        @apply -mt-32 max-w-7xl mx-auto relative z-10 pb-16 px-4 sm:px-6 lg:px-8;
    }

    .overlap-card-container {
        @apply grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8;
    }

    .join-btn {
        @apply inline-flex items-center justify-center w-72 border border-transparent text-base font-medium rounded-full text-yellow-500 bg-white hover:bg-gray-50;
    }

    .join-btn:hover {
        background-color: #E8AA33;
        border: 2px solid #ffffff;
        color: #f5f9ff;
      }
    /* End of Testimonial Css */

    /* Start of AskQuestion Css */
    .question-wrapper {
        @apply grid grid-cols-1 gap-6 sm:grid-cols-2 py-4;
    }

    .aq-wrapper-container {
        @apply w-full py-12 px-4 sm:py-16 sm:px-6 lg:px-8;
    }

    .aq-wrapper-content {
        @apply max-w-7xl mx-auto divide-y-2 divide-yellow-400;
    }

    .aq-title {
        @apply text-center sm:text-left text-xl font-semibold text-gray-900 sm:text-4xl;
    }

    .aq-container {
        @apply mt-6 space-y-6 divide-y-2 divide-yellow-400;
    }

    .disclosure-button {
        @apply text-left w-full flex justify-between items-start text-gray-400;
    }
    /* End of AskQuestion Css */

    /* Start of Standard News Css */
    .news-wrapper-container {
        @apply py-4 sm:py-10 shadow-md px-4 sm:px-10;
        box-shadow: 0px 8px 8px #0000000D;
        background: #FFFDF8 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .news-wrapper-title {
        @apply sm:text-4xl text-2xl text-gray-900 text-center pb-8 z-10;
    }

    .news-wrapper-content {
        @apply grid grid-cols-1 px-4 sm:grid-cols-2 gap-x-4 gap-y-8 md:grid-cols-3 sm:gap-x-6 xl:gap-x-8;
    }

    .news-images {
        @apply group block w-full rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden;
    }

    .news-content-title {
        @apply mt-2  block text-sm sm:text-xl font-semibold sm:font-medium text-gray-900 truncate pointer-events-none text-center sm:text-left;
    }

    .news-text-content {
        @apply block text-sm font-medium text-gray-500 pointer-events-none text-center sm:text-left;
    }

    /* Start of Carousel Indicators Css */
    .carousel-indicator svg {
        font-size: 20px;
    }
    button {
        @apply focus:outline-none;
    }
    /* End of Carousel Indicators Css */
}

html,
body,
input, a {
    font-family: 'Poppins', sans-serif;
}

/* =======================
    Button CSS Default
========================== */
.btn-green {
    box-shadow: 0px 3px 6px #64CBA899;
    border: 2px #278691;
    background-color:#278691!important;
}
.btn-green:hover {
    border: 2px solid #278691;
    color:#278691;
    font-weight: 500!important;
    background-color: #ffffff!important;
}
.gaq-select {
    text-align-last:center;
    text-align:-moz-center;
    text-align:-webkit-center;
}
  